.navbar {
	background-color: #00bfff;
	overflow: hidden;
}

.navbar a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #0000ff;
	color: #00bfff;
}

.navbar a.active {
	background-color: #00ffbf;
	color: white;
}