nav {
	background-color: powderblue;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
}

nav ul li a {
	background-color: #9ec9cf;
}